{% extends 'base.html' %}
{% block title %}
    create post
{% endblock title %}
{% block content %}


    <h1>create posts</h1>

    <form method="post" enctype="multipart/form-data" class="form-control">
        {% csrf_token %}
        <p>
            <label class="form-label" for="id_title">Title:</label>
            <input class="form-control" type="text" name="title" id="id_title" >
        </p>
        <p>
            <label class="form-label" for="id_content">Description:</label>
            <textarea class="form-control" name="description" id="id_content"></textarea>
        </p>
        <p>
            <label for="formFile" class="form-label">Image:</label>
        <input class="form-control" name="img" type="file" id="formFile">
        </p>



        

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
 


{% endblock content %}
