{% extends 'base.html' %}
{% load static %}

{% block script %}
     <script src="{% static 'main.js' %}" defer></script>
{% endblock script %}
                            
                        
{% block title %}
          home             
{% endblock title %}
                    
                            
                    

                        
                       
{% block content %}

  <!-- start Modal -->
  <div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Start ?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- start modal-body-confirm  -->
        <div class="modal-body" id="modal-body-confirm">
          
        </div>
         <!-- end modal-body-confirm  -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
          <button type="button" id="start-button" class="btn btn-success">Yes</button>
        </div>
      </div>
    </div>
  </div>   
  <!--end Modal -->

  <div class="h1">Quiz List</div>
  <hr>
  <!-- start Button trigger modal -->
   
   {% for obj in  object_list %}
            <button  class="btn btn-link modal-button"
             data-pk="{{obj.pk}}"
             data-name="{{obj.name}}"
             data-question="{{obj.number_of_questions}}"
             data-difficluty="{{obj.difficluty}}"
             data-time="{{obj.time}}"
             data-pass="{{obj.required_score_to_pass}}"
             data-bs-toggle="modal"
             data-bs-target="#quizStartModal">
                {{obj.name}}
            </button>
            <br>
   {% endfor %}
    
  <!-- end Button trigger modal -->          
{% endblock content %}    
                        
                            
  